@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
:root{
  --white: #FFF;
  --bg: #333;
}

body{
  background: var(--bg);
}

.container{
  position: absolute;

  top: 80px;
  right: 100px;
  left: 100px;
  bottom: 80px;
  background-image: url(../image/bg.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5),
              0 0 0 100px rgba(0, 0, 0, 0.1);
}

.container h2{
  text-align: center;
  font-size: 10em;
  line-height: 0.7em;
  color: var(--white);
  margin-top: -80px;
}

.container h2 span {
  display: block;
  font-weight: 400;
  letter-spacing: 6px;
  font-size: 0.2em;
}

.countdown {
  display: flex;
  margin-top: 50px;
}


.countdown div {
  position: relative;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  background:  var(--bg);
  color: var(--white);
  margin: 0 15px;
  font-size: 3em;
  font-weight: 500;
}

.countdown div::before {
  content: '';
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  height: 35px;
  background: rgb(12, 111, 177);
  color: var(--white);
  line-height: 35px;
  font-size: 0.35em;
}

.countdown #day::before {
  content: 'Dias';
}
.countdown #hour::before {
  content: 'Horas';
}
.countdown #minute::before {
  content: 'Minutos';
}
.countdown #second::before {
  content: 'Segundos';
}